.layer-control {
  bottom: 0.5em;
  left: 0.5em;
}

.layer-control > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svgContainer {
  width: 22px;
  height: 22px;
  scale: 0.8;
}

.ol-touch .ol-control button > .svgContainer {
  scale: 1.2;
}

.layer-selection {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 10;
  padding: 10px;
  padding-right: 0px;
  background-color: white;
}

.layer-selection.fade-out {
  opacity: 0;
  transition: opacity 0.15s ease-out;
}

.layer-selection.hidden {
  display: none;
}

.image-box {
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 4px;
  border: 2px solid #bdbdbd;
}

.image-box.selected {
  border: 2px solid #474747;
}

.image-box:hover {
  box-shadow: 0 0 6px #949494;
}

.image-box img {
  pointer-events: none;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
}
